<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Registered Restaurants</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
          <th>
            User Id
          </th>
          <th>
            Full Name
          </th>
          <th>
            Phone

          </th>

          <th>
            Location
          </th>

          <th class="text-right">
            Actions
          </th>
          </thead>
          <tbody>
          <tr>
            <td>
              du/23045
            </td>
            <td>
              Kaleb Solomon
            </td>

            <td >
              +251 92 924 3081
            </td>
            <td>
              ኮልፌ ቀራንዮ
              አዲስ አበባ
              9.001288, 38.718003
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              du/23032
            </td>
            <td>
             Tsedal Abas
            </td>
            <td>
              +251 91 345 6789
            </td>
            <td>
              ልደታ 7/14
              አዲስ አበባ
              9.015690, 38.740008
            </td>

            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
