    <div class="card card-user">
      <br>
      <br>
      <br>
      <div class="card-body mt-4">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/fetira.jpeg" alt="...">
            <h5 class="title">Special Fetira</h5>
          </a>
          <p class="description">
            @Amard Cafe
          </p>
          <p class="description">
            <i class="nc-icon nc-map-big">Bole, Olympia, Aberus Complext 1st Floor</i>
          </p>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">

            <div class="ml-5 col-lg-9 col-md-9 col-9 mr-auto">
              <h5><i class="nc-icon nc-single-02"></i> &nbsp;&nbsp; Ahadu Sefefe
              </h5>
              <h5>
                <i class="nc-icon nc-map-big">&nbsp;&nbsp; Mexico, KKare Bldg, 3rd Floor</i>
              </h5>
              <h5>
                <i class="nc-icon nc-mobile">&nbsp;&nbsp; +251 92 924 8031</i>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">

            </div>
          </div>
        </div>
      </div>
    </div>

