<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Registered Restaurants</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
          <th>
            #
          </th>
          <th>
            Restaurant
          </th>
          <th>
            Location

          </th>

          <th>
            Phone
          </th>

          <th class="text-right">
            Actions
          </th>
          </thead>
          <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
             Kategna Restaurant II
            </td>
            <td>
              Cameroon St, Addis Ababa
            </td>
            <td >
              +251 93 032 9121
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              2
            </td>
            <td>
              Moyos Cafe
            </td>
            <td>
              Mickey Leland St Opposite Yoly Hotel / Club H2O, Addis Ababa
            </td>
            <td>
              +251 96 161 6161
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              3
            </td>
            <td>
             Bilo's Pastry
            </td>
            <td>
              Cape Verde St, Addis Ababa
            </td>
            <td >
              +251 93 003 3177
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              4
            </td>
            <td>
              Effoi Pizza
            </td>
            <td>
              Capeverde St. Between Atlas intersection and the EU, Addis Ababa
            </td>
            <td >
             +251 92 990 8708
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
