<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Pending Orders</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class=" text-primary">
          <th>
            #
          </th>
          <th>
            Customer
          </th>
          <th>
            Product

          </th>

          <th>
            Restaurant
          </th>

          <th class="text-right">
            Actions
          </th>
          </thead>
          <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
              Ahadu Sefefe
            </td>
            <td>
              Special Fetira
            </td>
            <td >
              Amard Cafe
            </td>
            <td class="text-right">
              <button class="btn btn-primary" (click)="detail()">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              2
            </td>
            <td>
              Bahiran Sefefe
            </td>
            <td>
              Cake 1KG
            </td>
            <td>
              Carmel Pastry
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              3
            </td>
            <td>
              Abebe abebe
            </td>
            <td>
              Cheese Steak
            </td>
            <td >
              Moyos Cafe
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          <tr>
            <td>
              4
            </td>
            <td>
              Sara Saron
            </td>
            <td>
              Chechebsa with Eggs
            </td>
            <td >
              Kategna
            </td>
            <td class="text-right">
              <button class="btn btn-primary">Detail</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
